@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

html, body {
  height: 100%;
  width: 100%;
  background-image: url('assets/chinesebg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom 2% right 20%;
  margin: 0; 
  overflow: hidden;
}

body {
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom 0% right 20%;
  position: relative;
  overflow-y: scroll;
  background-color: #82ace3;
  display: block;
  margin: 1px;
}

.logo-corner{
  width: 20%;
  height: auto;
  margin-top: 1%;
  margin-left: 1%;
}

.balloon-div{
  display: flex;
  padding-top: 2%;
  padding-left: 2%;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.balloon{
  width: 70%
}
  
.container {
  width:80%;
  margin: 0 auto;
}

navigation {
  background: #ffbf94;
}

navigation::after{
  content: ' ';
  display: table;
  clear: both;
}

nav {
  float:right;
}

nav ul{
  margin: 0;
  paddng: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 70px;
  padding-top: 15px;
  padding-bottom: 15px;

  position: relative;
}

nav a {
  font-family:'Fredoka', sans-serif;
  color: #474747;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 22px;
}

nav a:hover{
  color: #000
}

nav a::before{
  content: ' ';
  display: block;
  height: 3px;
  background-color:#f57830 ;
  
  position: absolute;
  bottom:0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}