@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


html, body {
  height: 100%;
  width: 100%;
  background-image: url('assets/background-home.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-position: bottom 2% right 20%;*/
  margin: 0; 
  overflow: hidden;
}

body {
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom 2% right 20%;
  position: relative;
  overflow-y: scroll;
  background-color: #FAF3D7;
  display: block;
  margin: 1px;
}

.logo-main{
  width: 60%;
  height: auto;
  margin: auto;
  display: block;
  margin-top: 1%;
  margin-left: 1%;
}

.center-div{
  height: 40%;
  width: 50%;
  margin: auto;
  background: url('assets/lingodingo-logo.png') no-repeat bottom;
  background-size: 100%;
  /*border: solid red 5px;*/
}

.button1 {
  display: block;
  margin: 0 auto;
  background-color: #f5782f;
  color: white;
  font-family: 'Fredoka One', cursive;
  border: none;
  padding: 1% 3%;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  margin-top: 1%;
  border: solid;
  border-color: #e65400;
  border-width: medium;
  border-radius: 10px;
  cursor: pointer;
}

.link1 {
  text-decoration: none;
  color: white;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}


.fadeOut{
  opacity: 1;
  animation: 1s ease 4.5s forwards fadeOut;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    z-index: -1;
  }
}


.fadeIn{
    opacity:0;
    animation: fadeIn 2.5s;
    animation-delay: 4.15s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.right-top{
  position: relative;
  margin-left: 92%;
  margin-top: 2%;
}

.about-button {
  display: block;
  margin: top;
  color: white;
  background-color: #f5782f;
  font-family: 'Fredoka One', cursive;
  border: solid;
  border-color: #e65400;
  border-radius: 10px;
  border-width: medium;
  padding: 5% 5%;
  text-align: right;
  text-decoration: none;
  font-size: 1.25em;
}